body{
    margin:0;
}

#logo{
    display:flex;
    float:left;
    margin:10px;
    margin-left:22%;
}

#site-name{

    margin-top:3%;
    font-size:1.7rem;
    font-weight:bold;
    background-color:#ddd;
    padding:10px;
}

.header-container{
    font-family:Arial, sans-serif;
    height:140px;
    background-color:#ccc;
    width:100%;
    padding:10px;
    box-sizing: border-box;
}

.menu{
    background-color:#ddd;

}

.menu li{
    display:flex;
    justify-content:center;

}

.menu a{
    text-decoration: none;
}

.menu ul{
    align-content:space-between;
    display:flex;
    justify-content:center;
    padding:2%;
    gap:20px;
    flex-direction:column;
    width:100%;
    box-sizing: border-box;
}



.content-block{
    font-family:Arial, sans-serif;
    font-size:12pt;
}


.content-block li{
    margin-top:12px;
}

.content-block label{
    display:block;
    background-color:#ddd;
    border:1px solid #000;
    padding:10px;
    margin-top:10px;
    margin-bottom:10px;
}

.content-block img{
    display:flex;
    max-width:40%;
    height:auto;
}

table{
    font-family:Arial, sans-serif;
    font-size:12pt;

}

.table-wrapper{
        font-family:Arial, sans-serif;
        font-size:12pt;
        order:1;
}

.list-wrapper{
        order:2;
}

.content-wrapper{
        display:flex;
        flex-direction:column;
}

.table1{
    margin:0 auto;

}

.table1 th{
        background-color:#eee;
        border:1px solid #000;
}

.table1 td{
    border:1px #000 solid;
    padding:12px;
}

.table1 tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table1 tr:nth-child(odd){
    background-color: #fff;
}

form{
    font-family:Arial, sans-serif;
    font-size:12pt;
}

.footer1{
    background-color:#444;
    color:white;
    width:100%;
    text-align:center;
    padding:20px;
    box-sizing: border-box;
}


@media screen and (min-width:1024px)
{
  #logo {
    float: left;
    margin: 10px;
    margin-left: 250px;
  }

  #site-name {
    margin-top: 30px;
    font-size: 25px;
  }

  .menu {
    margin: 0 auto;
  }

  .menu li {
    display: inline;
    margin-right: 20px;
    margin-left: 5px;
  }

  .menu ul {
    padding: 10px;
    display: block;
  }

.content-wrapper {
    flex-direction: column;
    gap: 20px;
  }

  .list-wrapper {
    order: 1;
    flex: 1;
  }

  .table-wrapper {
    order: 2;
    flex: 1;
  }

  .content-block {
    max-width: 960px;
    margin: 0 auto;
  }

  .content-block img {
    margin: 0 auto;
    display: block;
    max-width: 100%;
    height: auto;
  }
}

